# Secrets
.streamlit/secrets.toml
*.env
credenciais*

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Temp
*.tmp
*.log
nul
